<launch>
    <arg name="teleop_namespace" default="/"/>
    <arg name="teleop_rx_port"  default="17102"/>
    
    <include file="$(find pcv_base)/launch/includes/multi_robot_rx.launch">
        <arg name="rx_port" value="$(arg teleop_rx_port)"/>
        <arg name="remote_namespace" value="$(arg teleop_namespace)"/>
    </include>
</launch>
